# Mastering Metrics
- Tables 1.3 & 1.4
- goal: master RAND replication do file

![](./img/grasshopper.png)

In [61]:
*** Metrics
*** Tables 1.3
*** goal: master RAND replication do file

clear all
set more off

// set to directory where this do file is located
cd "/Users/datalab/github/datascience/causal-inference/data"

/Users/datalab/github/datascience/causal-inference/data

In [60]:
dir

total 202232
-rw-r--r--@ 1 datalab  staff  36844584  2  3  2013 AA_small.dta
-rw-r--r--@ 1 datalab  staff   6637632  3  4 00:46 AA_small.dta_.zip
-rw-r--r--@ 1 datalab  staff      7697  3  4 00:45 AEJfigs.dta
-rw-r--r--@ 1 datalab  staff   3490484  3  4 00:42 Data1.zip
drwxr-xr-x@ 6 datalab  staff       192  3  4 00:35 NHIS/
drwxr-xr-x@ 9 datalab  staff       288  3  4 13:01 OHIE_Public_Use_Files/
-rw-r--r--@ 1 datalab  staff       604  3  4 00:36 ReadMe_RAND.txt
-rw-r--r--@ 1 datalab  staff   6591291  3  4 00:46 ak91.dta
-rw-r--r--@ 1 datalab  staff   1006144  1 22  2015 annual_spend.dta
-rw-r--r--@ 1 datalab  staff     77216  3  4 00:45 banks.csv
-rw-r--r--@ 1 datalab  staff      2481  3  4 00:46 clark_martorell_cellmeans.dta
-rw-r--r--@ 1 datalab  staff   1168671  3  4 00:45 deaths.dta
-rw-r--r--@ 1 datalab  staff     29249  3  4 00:45 mdve.dta
-rw-r--r--@ 1 datalab  staff   9370270  3  4 00:45 oregon_puf.zip
-rw-r--r--@ 1 datalab  staff  27605676  3 23  2014 person_years.dta
-rw-r--r--@ 1 datalab  staff    100520  3  4 00:45 pubtwins.dta
-rw-r--r--@ 1 datalab  staff   8823462  1 22  2015 rand_initial_sample_2.dta
-rw-r--r--@ 1 datalab  staff      2813  3  4 13:23 table1.txt
-rw-r--r--@ 1 datalab  staff     41083  3  4 13:23 table1.xml
-rw-r--r--  1 datalab  staff      1047  3  4 13:38 table2.txt
-rw-r--r--@ 1 datalab  staff     16349  3  4 13:38 table2.xml

In [59]:
ls

total 202232
-rw-r--r--@ 1 datalab  staff  36844584  2  3  2013 AA_small.dta
-rw-r--r--@ 1 datalab  staff   6637632  3  4 00:46 AA_small.dta_.zip
-rw-r--r--@ 1 datalab  staff      7697  3  4 00:45 AEJfigs.dta
-rw-r--r--@ 1 datalab  staff   3490484  3  4 00:42 Data1.zip
drwxr-xr-x@ 6 datalab  staff       192  3  4 00:35 NHIS/
drwxr-xr-x@ 9 datalab  staff       288  3  4 13:01 OHIE_Public_Use_Files/
-rw-r--r--@ 1 datalab  staff       604  3  4 00:36 ReadMe_RAND.txt
-rw-r--r--@ 1 datalab  staff   6591291  3  4 00:46 ak91.dta
-rw-r--r--@ 1 datalab  staff   1006144  1 22  2015 annual_spend.dta
-rw-r--r--@ 1 datalab  staff     77216  3  4 00:45 banks.csv
-rw-r--r--@ 1 datalab  staff      2481  3  4 00:46 clark_martorell_cellmeans.dta
-rw-r--r--@ 1 datalab  staff   1168671  3  4 00:45 deaths.dta
-rw-r--r--@ 1 datalab  staff     29249  3  4 00:45 mdve.dta
-rw-r--r--@ 1 datalab  staff   9370270  3  4 00:45 oregon_puf.zip
-rw-r--r--@ 1 datalab  staff  27605676  3 23  2014 person_years.dta
-rw-r--r--@ 1 datalab  staff    100520  3  4 00:45 pubtwins.dta
-rw-r--r--@ 1 datalab  staff   8823462  1 22  2015 rand_initial_sample_2.dta
-rw-r--r--@ 1 datalab  staff      2813  3  4 13:23 table1.txt
-rw-r--r--@ 1 datalab  staff     41083  3  4 13:23 table1.xml
-rw-r--r--  1 datalab  staff      1047  3  4 13:38 table2.txt
-rw-r--r--@ 1 datalab  staff     16349  3  4 13:38 table2.xml

In [33]:
use rand_initial_sample_2.dta, clear

In [34]:
* install outreg2
*ssc install outreg2

checking outreg2 consistency and verifying not already installed...
all files already exist and are up to date.

In [65]:
*help outreg2

In [35]:
*Ensure dummy variable for free plan does not give "0's" to anyone without a plan
replace plantype_1=. if plantype==.

*Conduct difference in means test for cholesterol levels between free and cost sharing plans
gen famid=substr(fam_identifier,3,.)
destring famid, ignore("A") replace
gen any_ins=(plantype==1|plantype==2|plantype==3)

*replace old table file
reg female plantype_1, noconst
outreg2 blackhisp using table1, excel se replace nor nobs

(1,490 real changes made, 1,490 to missing)

(1,930 missing values generated)

famid: character A removed; replaced as long
(1930 missing values generated)



      Source |       SS           df       MS      Number of obs   =     3,957
-------------+----------------------------------   F(1, 3956)      =    789.53
       Model |   352.87722         1   352.87722   Prob > F        =    0.0000
    Residual |  1768.12278     3,956  .446947113   R-squared       =    0.1664
-------------+----------------------------------   Adj R-squared   =    0.1662
       Total |        2121     3,957   .53601213   Root MSE        =    .66854

------------------------------------------------------------------------------
      female |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
  plantype_1 |   .5220077   .0185778    28.10   0.000     .4855849    .5584306
------------------------------------------------------------------------------

table1.xml
dir : seeout

In [36]:

foreach var of varlist female blackhisp age educper income1cpi hosp ghindx cholest diastol systol mhi ghindxx cholestx diastolx systolx mhix {
		
	qui reg `var' plantype_1 plantype_2 plantype_3, cl(famid)
	qui sum `var' if plantype==4
	local sdev = r(sd)
	outreg2 using table1, excel se append noaster dec(3) addstat("Constant SD:",`sdev')

	qui reg `var' any_ins, cl(famid)
	outreg2 using table1, excel se append noaster dec(3)
}

table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout
table1.xml
dir : seeout

# Metrics

*** Tables 1.4

*** goal: master RAND replication do file

![](./img/stork.png)

In [62]:
*** Metrics
*** Tables 1.4
*** goal: master RAND replication do file

clear all
set more off

// set to directory where this do file is located
cd "/Users/datalab/github/datascience/causal-inference/data"

/Users/datalab/github/datascience/causal-inference/data

In [52]:
dir

total 202192
-rw-r--r--@ 1 datalab  staff  36844584  2  3  2013 AA_small.dta
-rw-r--r--@ 1 datalab  staff   6637632  3  4 00:46 AA_small.dta_.zip
-rw-r--r--@ 1 datalab  staff      7697  3  4 00:45 AEJfigs.dta
-rw-r--r--@ 1 datalab  staff   3490484  3  4 00:42 Data1.zip
drwxr-xr-x@ 6 datalab  staff       192  3  4 00:35 NHIS/
drwxr-xr-x@ 9 datalab  staff       288  3  4 13:01 OHIE_Public_Use_Files/
-rw-r--r--@ 1 datalab  staff       604  3  4 00:36 ReadMe_RAND.txt
-rw-r--r--@ 1 datalab  staff   6591291  3  4 00:46 ak91.dta
-rw-r--r--@ 1 datalab  staff   1006144  1 22  2015 annual_spend.dta
-rw-r--r--@ 1 datalab  staff     77216  3  4 00:45 banks.csv
-rw-r--r--@ 1 datalab  staff      2481  3  4 00:46 clark_martorell_cellmeans.dta
-rw-r--r--@ 1 datalab  staff   1168671  3  4 00:45 deaths.dta
-rw-r--r--@ 1 datalab  staff     29249  3  4 00:45 mdve.dta
-rw-r--r--@ 1 datalab  staff   9370270  3  4 00:45 oregon_puf.zip
-rw-r--r--@ 1 datalab  staff  27605676  3 23  2014 person_years.dta
-rw-r--r--@ 1 datalab  staff    100520  3  4 00:45 pubtwins.dta
-rw-r--r--@ 1 datalab  staff   8823462  1 22  2015 rand_initial_sample_2.dta
-rw-r--r--@ 1 datalab  staff      2813  3  4 13:23 table1.txt
-rw-r--r--@ 1 datalab  staff     41083  3  4 13:23 table1.xml

In [54]:
use person_years.dta, clear

*Merge Data on Hospital Visits
merge 1:1 person year using annual_spend.dta
keep if _m==3
drop _m

    Result                           # of obs.
    -----------------------------------------
    not matched                         5,537
        from master                         0  (_merge==1)
        from using                      5,537  (_merge==2)

    matched                            20,203  (_merge==3)
    -----------------------------------------

(5,537 observations deleted)

In [55]:
* Group plans into four types: 
* 1-Free, 2-Individual Deductible, 3-Cost Sharing (25%/50%), 4-Catostrophic (Fam Deductible) (95%/100%)*
gen plantype =.

replace plantype = 1 if plan==24
replace plantype = 2 if plan==1
replace plantype = 2 if plan==5
replace plantype = 4 if plan>=2 & plan<=4
replace plantype = 4 if plan>=6 & plan<=8
replace plantype = 3 if plan>=9 & plan<=23

*Generate Plan Dummies
gen plantype_1= (plantype==1)
gen plantype_2= (plantype==2)
gen plantype_3= (plantype==3)
gen plantype_4= (plantype==4)

*Generate Site Dummies
gen site1=(site==1)
gen site2=(site==2)
gen site3=(site==3)
gen site4=(site==4)
gen site5=(site==5)
gen site6=(site==6)

*Attempt to correlate year variable from annyal expenditures data to correct calendar year 
* in order to adjust for inflation

gen expyear=indv_start_year+year-1

(20,203 missing values generated)

(6,840 real changes made)

(98 real changes made)

(4,077 real changes made)

(273 real changes made)

(3,451 real changes made)

(5,464 real changes made)

In [56]:
*Adjust for inflation.  This will only be an estimate 
* since the annual expenditures data does not tell us what month they received specific services. 
*The CPI adjustment values below are based on the June CPI from 1991 
* (see table found at http://www.seattle.gov/financedepartment/cpi/historical.htm ).

gen out_inf=.
replace out_inf=outsum*3.07 if expyear==1973
replace out_inf=outsum*2.76 if expyear==1974
replace out_inf=outsum*2.53 if expyear==1975
replace	out_inf	=	outsum*	2.39	if	expyear	==1976
replace	out_inf	=	outsum*	2.24	if	expyear	==1977
replace	out_inf	=	outsum*	2.09	if	expyear	==1978
replace	out_inf	=	outsum*	1.88	if	expyear	==1979
replace	out_inf	=	outsum*	1.65	if	expyear	==1980
replace	out_inf	=	outsum*	1.5	if	expyear	==1981
replace	out_inf	=	outsum*	1.41	if	expyear	==1982
replace	out_inf	=	outsum*	1.37	if	expyear	==1983
replace	out_inf	=	outsum*	1.31	if	expyear	==1984
replace	out_inf	=	outsum*	1.27	if	expyear	==1985

gen inpdol_inf=.
replace inpdol_inf=inpdol*3.07 if expyear==1973
replace inpdol_inf=inpdol*2.76 if expyear==1974
replace inpdol_inf=inpdol*2.53 if expyear==1975
replace	inpdol_inf	=	inpdol*	2.39	if	expyear	==1976
replace	inpdol_inf	=	inpdol*	2.24	if	expyear	==1977
replace	inpdol_inf	=	inpdol*	2.09	if	expyear	==1978
replace	inpdol_inf	=	inpdol*	1.88	if	expyear	==1979
replace	inpdol_inf	=	inpdol*	1.65	if	expyear	==1980
replace	inpdol_inf	=	inpdol*	1.5	if	expyear	==1981
replace	inpdol_inf	=	inpdol*	1.41	if	expyear	==1982
replace	inpdol_inf	=	inpdol*	1.37	if	expyear	==1983
replace	inpdol_inf	=	inpdol*	1.31	if	expyear	==1984
replace	inpdol_inf	=	inpdol*	1.27	if	expyear	==1985

*Generate Total Spending Variable
gen tot_inf=inpdol_inf+out_inf



* Family id
gen famid=substr(fam_identifier,3,.)
destring famid, ignore("A") replace
gen any_ins=(plantype==1|plantype==2|plantype==3)

(20,203 missing values generated)

(0 real changes made)

(349 real changes made)

(1,110 real changes made)

(4,195 real changes made)

(4,059 real changes made)

(4,408 real changes made)

(2,816 real changes made)

(2,423 real changes made)

(727 real changes made)

(81 real changes made)

(18 real changes made)

(16 real changes made)

(1 real change made)

(20,203 missing values generated)

(0 real changes made)

(349 real changes made)

(1,110 real changes made)

(4,195 real changes made)

(4,059 real changes made)

(4,408 real changes made)

(2,816 real changes made)

(2,423 real changes made)

(727 real changes made)

(81 real changes made)

(18 real changes made)

(16 real changes made)

(1 real change made)



famid: character A removed; replaced as long

In [57]:
*replace old table file
reg female plantype_1, noconst
outreg2 using table2, excel se replace nor nobs

foreach var of varlist ftf out_inf totadm inpdol_inf tot_inf{
		
	qui reg `var' plantype_1 plantype_2 plantype_3, cl(famid)
	qui sum `var' if plantype==4
	local sdev = r(sd)
	outreg2 using table2, excel se append noaster dec(3) addstat("Constant SD:",`sdev')

	qui reg `var' any_ins, cl(famid)
	outreg2 using table2, excel se append noaster dec(3)
}

      Source |       SS           df       MS      Number of obs   =    20,203
-------------+----------------------------------   F(1, 20202)     =   4193.73
       Model |  1796.05629         1  1796.05629   Prob > F        =    0.0000
    Residual |  8651.94371    20,202  .428271642   R-squared       =    0.1719
-------------+----------------------------------   Adj R-squared   =    0.1719
       Total |       10448    20,203  .517150918   Root MSE        =    .65442

------------------------------------------------------------------------------
      female |      Coef.   Std. Err.      t    P>|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
  plantype_1 |   .5124269   .0079128    64.76   0.000     .4969171    .5279367
------------------------------------------------------------------------------

table2.xml
dir : seeout

table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout
table2.xml
dir : seeout

![](./img/road.png)